src/java/META-INF/ExameDAOService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dao.exames.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dao.exames.com.br/" name="ExameDAOService">
<types>
<xsd:schema>
<xsd:import namespace="http://dao.exames.com.br/" schemaLocation="http://localhost:43086/agendaexames/ExameDAOService?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="consultar">
<part name="parameters" element="tns:consultar"/>
</message>
<message name="consultarResponse">
<part name="parameters" element="tns:consultarResponse"/>
</message>
<message name="alterar">
<part name="parameters" element="tns:alterar"/>
</message>
<message name="alterarResponse">
<part name="parameters" element="tns:alterarResponse"/>
</message>
<message name="salvar">
<part name="parameters" element="tns:salvar"/>
</message>
<message name="salvarResponse">
<part name="parameters" element="tns:salvarResponse"/>
</message>
<message name="excluir">
<part name="parameters" element="tns:excluir"/>
</message>
<message name="excluirResponse">
<part name="parameters" element="tns:excluirResponse"/>
</message>
<portType name="ExameDAO">
<operation name="findAll">
<input wsam:Action="http://dao.exames.com.br/ExameDAO/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://dao.exames.com.br/ExameDAO/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="consultar">
<input wsam:Action="http://dao.exames.com.br/ExameDAO/consultarRequest" message="tns:consultar"/>
<output wsam:Action="http://dao.exames.com.br/ExameDAO/consultarResponse" message="tns:consultarResponse"/>
</operation>
<operation name="salvar">
<input wsam:Action="http://dao.exames.com.br/ExameDAO/salvarRequest" message="tns:salvar"/>
<output wsam:Action="http://dao.exames.com.br/ExameDAO/salvarResponse" message="tns:salvarResponse"/>
</operation>
<operation name="alterar">
<input wsam:Action="http://dao.exames.com.br/ExameDAO/alterarRequest" message="tns:alterar"/>
<output wsam:Action="http://dao.exames.com.br/ExameDAO/alterarResponse" message="tns:alterarResponse"/>
</operation>
<operation name="excluir">
<input wsam:Action="http://dao.exames.com.br/ExameDAO/excluirRequest" message="tns:excluir"/>
<output wsam:Action="http://dao.exames.com.br/ExameDAO/excluirResponse" message="tns:excluirResponse"/>
</operation>
</portType>
<binding name="ExameDAOPortBinding" type="tns:ExameDAO">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

<operation name="salvar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

<operation name="alterar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

<operation name="excluir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>

</binding>
<service name="ExameDAOService">
<port name="ExameDAOPort" binding="tns:ExameDAOPortBinding">
<soap:address location="http://localhost:43086/agendaexames/ExameDAOService"/>
</port>
</service>
</definitions>